.loginZone{
    margin: 60% 10%;
}
.loginBackground{
  //  background-color: bisque;
}
.item{
    background-color: transparent;
}
.versionZone{
    position: fixed; 
    bottom: 2%; 
    margin: auto;
    left: 0;
    right: 0;
    font-size: small;
    color: darkgray;
    //margin-top: 20%;
}